.header.d-flex.bg-dark.justify-content-between
	.logo
		a.p-3(href="#") LOGO
	.navi-wrap.d-flex
		a.p-3(href="/") HOME
		a.p-3(href="/sample") Sample
		a.p-3(href="/pug") Pug
		a.p-3(href="/pug2") Pug2
		a.p-3(href="/pug3") Pug3